* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

html {
    overflow-x: hidden;
}

header {
    background-color: #192a56;
    padding-top: 16px 0;
    color: #f1f1f1;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

html {
    overflow-x: hidden;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4,20%);
    column-gap: 1%;
    row-gap: 5%;
    justify-content: space-between;
}

.produtos > li {
    list-style: none;
}

.produtos > li > h3 {
    font-size: 20px;
}

#sobre-loja {
    font-size: 18px;
}

#sobre-loja img {
    max-width: 600px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

#produtos {
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(96, 96, 255);
    color: rgb(96, 96, 255);
}

button {
    display: block;
    width: 80%;
    padding: 8px 0;
    border: none;
    background-color: rgb(96, 96, 255);
    color: #f1f1f1;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 16px;
}

@media screen and (max-width:660px){
    .container {
        max-width:400px;
        width: 100%;
        margin: 0 auto;
    }

    header > .container {
        padding-bottom: 0;
    }

    .produtos {
        max-width: 400px;
        display: block;
        justify-content: space-between;
    }

    #sobre-loja img {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .container, .produtos {
        max-width: 90%;
        display: block;
    }

    #sobre-loja {
        width: 90%;
        font-size: 20px;
        text-overflow:ellipsis ;
    }
    
    .produtos img {
        margin-left: 0;
    }

    .produtos {
        display: block;
    }

    .produtos {
        margin-bottom: 32px;
    }
    
    header, .container {
        flex-direction: column;
    }

    button {
        display: block;
        width: 90%;
        padding: 8px 0;
        border: none;
        background-color: rgb(96, 96, 255);
        color: #f1f1f1;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        cursor: pointer;
        border-radius: 32px;
    }
}

@media screen and (min-width: 661px) and (max-width: 1023px) {
    .container {
        max-width:800px;
        width: 100%;
        margin: 0 auto;
    }

    .produtos {
        max-width: 1023px;
        display: grid;
        grid-template-columns: repeat(2,45%);
        column-gap: 5%;
        row-gap: 5%;
        justify-content: space-between;
    }

    #sobre-loja img {
        display: block;
        width: 90%;
        justify-content: space-between;
    }

    .container {
        max-width: 100%;
        display: block;
    }

    #sobre-loja {
        width: 90%;
        font-size: 20px;
    }
    
    button {
        display: block;
        width: 90%;
        padding: 8px 0;
        border: none;
        background-color: rgb(96, 96, 255);
        color: #f1f1f1;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        cursor: pointer;
        border-radius: 32px;
    }
    
    header, .container {
        flex-direction: column;
    }
}